<div class="wrapper" fxLayout="row" fxLayoutAlign="center start">
  <mat-card class="box">
    <mat-card-header>Login</mat-card-header>
    <form [formGroup]="loginForm">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input formControlName="username" matInput placeholder="Username" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input
            formControlName="password"
            matInput
            type="password"
            placeholder="Password"
          />
        </mat-form-field>
      </mat-card-content>
      <button
        mat-raised-button
        color="warn"
        class="btn-block"
        (click)="login()"
      >
        Login
      </button>
      <div class="router-link">
        <a style="color: black; text-decoration: none" routerLink="/register"
          >Don't have an account? Register</a
        >
      </div>
    </form>
  </mat-card>
</div>
