<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>account_balance_wallet</mat-icon>
  </button>
  <span>Revature Reimbursement System</span>
  <span class="spacer"></span>
  <div *ngIf="!isLoggedIn()">
    <a routerLink="/login">Login</a>
  </div>
  <div *ngIf="isLoggedIn()">
    <button mat-button [matMenuTriggerFor]="menu">{{ getUserName() }}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>
