<h1 mat-dialog-title>{{ actionTitle }}</h1>
<div mat-dialog-content>
  <form [formGroup]="reimbRequestForm">
    <!-- reimbursement amount input -->
    <mat-form-field appearance="outline">
      <mat-label>Amount</mat-label>
      <input formControlName="reimbursementAmount" matInput />
      <div
        *ngIf="
          reimbRequestForm.controls['reimbursementAmount'].invalid &&
          reimbRequestForm.controls['reimbursementAmount'].touched
        "
      >
        Please enter a valid amount.
      </div>
    </mat-form-field>

    <!-- reimbursement description input -->
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input formControlName="reimbursementDescription" matInput />
      <div
        *ngIf="
          reimbRequestForm.controls['reimbursementDescription'].invalid &&
          reimbRequestForm.controls['reimbursementDescription'].touched
        "
      >
        Please enter description.
      </div>
    </mat-form-field>

    <!-- reimbursement type selector -->
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select formControlName="reimbursementTypeId">
        <mat-option
          *ngFor="let reimbType of reimbTypes"
          [value]="reimbType.value"
        >
          {{ reimbType.viewValue }}
        </mat-option>
      </mat-select>
      <div
        *ngIf="
          reimbRequestForm.controls['reimbursementTypeId'].invalid &&
          reimbRequestForm.controls['reimbursementTypeId'].touched
        "
      >
        Please select the reimbursement type.
      </div>
    </mat-form-field>

    <!-- receipt image show up when update reimbursement -->
    <div>
      <button mat-button (click)="openReceiptDialog()">
        <img
          *ngIf="receiptUrl != ''"
          [src]="receiptUrl"
          height="150px"
          alt=""
        />
      </button>
    </div>

    <!-- upload file input -->
    <div>
      <mat-label>Receipt image *</mat-label><br />
      <input
        formControlName="reimbursementReceipt"
        type="file"
        #fileInput
        id="uploadFile"
        (change)="uploadFileEvt($event)"
        name="uploadFile"
        multiple="multiple"
        accept="image/*"
      />
    </div>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" (click)="addRequest()">
    {{ actionBtn }}
  </button>
  <button
    style="margin-left: 10px"
    mat-raised-button
    color="primary"
    mat-dialog-close
  >
    Close
  </button>
</div>
